@model List<MvcApp.Models.Employee>
<h4>Employee</h4>
<a asp-controller="Employee" asp-action="Create" class="btn btn-primary">Create</a>
<table class="table table-striped table-sm">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Nama Lengkap</th>
            <th scope="col">Divisi</th>
            <th scope="col">Role</th>
            <th scope="col">Aksi</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
        }
        @foreach (var employee in Model)
        {
            <tr>
                @* <th scope="row">@employee.Id</th> *@
                <th>@i</th>
                @{
                    i++;
                }

                <td>@{@employee.Name}</td>
                <td>@employee.Division</td>
                <td>@employee.Role</td>
                <td>
                    <a class="btn btn-warning" asp-route-id="@employee.Id" asp-action="Edit">Edit</a>
                    <a class="btn btn-danger" asp-route-id="@employee.Id" asp-action="Delete">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>